---
http_interactions:
- request:
    method: get
    uri: https://pokeapi.co/api/v2/evolution-chain/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"519-mKqcmr+9AYQMpKJR7ibewJifciM"
      Function-Execution-Id:
      - lvkd1qnmorcd
      X-Cloud-Trace-Context:
      - 0d17d3df9d3e35cadc21c7dea90fb6ff
    body:
      encoding: ASCII-8BIT
      string: '{"baby_trigger_item":null,"chain":{"evolution_details":[],"evolves_to":[{"evolution_details":[{"gender":null,"held_item":null,"item":null,"known_move":null,"known_move_type":null,"location":null,"min_affection":null,"min_beauty":null,"min_happiness":null,"min_level":16,"needs_overworld_rain":false,"party_species":null,"party_type":null,"relative_physical_stats":null,"time_of_day":"","trade_species":null,"trigger":{"name":"level-up","url":"https://pokeapi.co/api/v2/evolution-trigger/1/"},"turn_upside_down":false}],"evolves_to":[{"evolution_details":[{"gender":null,"held_item":null,"item":null,"known_move":null,"known_move_type":null,"location":null,"min_affection":null,"min_beauty":null,"min_happiness":null,"min_level":32,"needs_overworld_rain":false,"party_species":null,"party_type":null,"relative_physical_stats":null,"time_of_day":"","trade_species":null,"trigger":{"name":"level-up","url":"https://pokeapi.co/api/v2/evolution-trigger/1/"},"turn_upside_down":false}],"evolves_to":[],"is_baby":false,"species":{"name":"venusaur","url":"https://pokeapi.co/api/v2/pokemon-species/3/"}}],"is_baby":false,"species":{"name":"ivysaur","url":"https://pokeapi.co/api/v2/pokemon-species/2/"}}],"is_baby":false,"species":{"name":"bulbasaur","url":"https://pokeapi.co/api/v2/pokemon-species/1/"}},"id":1}'
  recorded_at: Mon, 15 Apr 2019 00:51:37 GMT
[...]
- request:
    method: get
    uri: https://pokeapi.co/api/v2/evolution-chain/78
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b3-TzLEQHq/H2cG6+9hBaPDFcQn2po"
      Function-Execution-Id:
      - '08ad5hp7x5ii'
      X-Cloud-Trace-Context:
      - f256d4172892ffe8b6394c3342f44225
    body:
      encoding: ASCII-8BIT
      string: '{"baby_trigger_item":null,"chain":{"evolution_details":[],"evolves_to":[],"is_baby":false,"species":{"name":"mew","url":"https://pokeapi.co/api/v2/pokemon-species/151/"}},"id":78}'
  recorded_at: Mon, 15 Apr 2019 00:52:47 GMT
recorded_with: VCR 4.0.0
